.navbar {
    background-color: #8b0000 !important;
}
.nav-link {
  color: white !important;
}
#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: asset-url('green-chameleon.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  
}

#sticky-footer {
  flex-shrink: none;
} 

/* pagination */
.apple_pagination {
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }


#container1{
    width:1000px;
    height:400px;
    overflow-x:hidden;
}

#parent {
    width:6000px;
}
.contentBlock {
    height:350px;
    width:300px;
    margin:10px;
    border:1px ridge grey;
    float:left;
    box-shadow: 2px 3px;
}
.panner {
    
}
.active {
    color:red;
}

.text-desc1
{
  font-size:1em;
  text-align:left;
  
}

.footer11 {
   background-color: #D3D3D3;
   color: black;
   text-align: left;
}
.image1{
  width:94%;
  height: 200px;
}


