<div id="page-content">
  <div class = "container">
  <h1 class="text-center mt-4">Create a new Category</h1>
  <br>
  <br>
      <div class="row justify-content-center">
          <%= render 'form' %>
  </div>
  <div class = "mb-3">
            <%= link_to 'Return to category listing', categories_path,  class:"text-info col-2"  %> 
        </div>
</div>